@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/Aeonik/Aeonik-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

.beta-badge {
  background-color: #b3f236;
  padding: 8px 24px;
  border-radius: 100px;
  font-size: 10px;
  color: #000;
  letter-spacing: 1px;
  font-weight: 500;
}